---
layout: all
title: Home
listing_title: Welcome to RealJenius.com!
page_type: index
---


{% if paginator.page == 1 %}
</div>
<div class="heroline">
	<div class="container"><div class="row">
		<div class="col-lg-12">
			<h3 class="homeheader">My name is R.J. Lorimer, and this is my site.&nbsp;&nbsp;&nbsp;<small>&ldquo;Hold my beer; watch this.&rdquo;</small></div>
		</h3>
	</div></div>
	<div class="container herocontainer">
		<div class="row">
			{% for post in paginator.posts limit:3 %}
				<div class="col-lg-4">
					<h3 class="entry-title"><a href="{{post.url}}">{{post.title}}</a></h3>
					<p class="post-date">{{post.date | date: "%B %d, %Y"}}</p>				
					<p>{{post.summary}}</p>
				</div>
			{% endfor %}
		</div>
		<div class="row visible-lg">
			{% for post in paginator.posts limit:3 %}
				<div class="col-lg-4">
					<a href="{{post.url}}" class="btn btn-primary btn-block btn-large">MORE &rarr;</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h3>More Posts</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="content">
		{% for post in paginator.posts offset:3 %}
			{% include post_row.html %}
		{% endfor %}
{% else %}
	<div class="row">
		<div class="col-lg-12" id="content">
		<h2>RealJenius.com - Page {{ paginator.page }}</h2>
		{% for post in paginator.posts %}
			{% include post_row.html %}
		{% endfor %}
{% endif %}

			{% capture paging_root %}/{% endcapture %}
			{% include paging_buttons.html %}
		</div>
	</div>
