*{META
title: 'Brackets in Java Annotation Parameters'
summary: 'A tip for reducing the noise in annotation parameter values.'
tags: Java,Annotations
category: journal
brushes: java
date: 9/10/2009 17:23
legacyId: 157
META}*

<p>Just a quick note for anyone using annotations - I was going through a bunch of code today, where I saw someone using the [cci_java]@SuppressWarnings[/cci_java] annotation (which you are probably using if you have generics in your code), and it quickly became clear that the person wasn't aware of the single-argument support in annotations. They had this in the code everywhere:</p>

#{code 'java'}
@SuppressWarnings({"unchecked"})
public void genericsSuck() {
// etc.
}
#{/code}

<p>Even if the parameter in particular for the annotation takes an array, annotations don't require brackets if you only have one parameter. In those cases you can simply provide the single value, which I think helps the readability quite a bit:</p>

#{code 'java'}
@SuppressWarnings("unchecked")
public void genericsSuck() {
// etc.
}
#{/code}

<p>This also works when you are dealing with named parameters. Here is an example from a TestNG @Test annotation - notice that I have even used multiple parameters in this case:</p>

#{code 'java'}
@Test(dependsOnMethods="otherMethod", dependsOnGroups="unit-tests")
public void thisMethod() {
// Do some testing
}
#{/code}

<p>If you <em>do</em> have multiple parameters, brackets are then necessary:</p>

#{code 'java'}
@Test(dependsOnMethods={"otherMethod","mrMethod"}, dependsOnGroups="unit-tests")
public void thisMethod() {
// Do some testing
}
#{/code}