*{META
title: 'New Eclipse Treasure'
summary: 'Hot of the presses - Eclipse 3.6 M2!'
tags: Eclipse,Java,IDEs
category: journal
date: 9/19/2009 12:35
legacyId: 231
META}*

#{image align:'right',src:'eclipse/logo.jpg',caption:'YARRR'/}

<p>Happy Pirate Day! Also, Happy Eclipse 3.6 M2 Day! From Kim Moir on the eclipse-dev list:</p>

<blockquote>
    <p>What's new on deck
    <a style="color: #7799bb;" href="http://download.eclipse.org/eclipse/downloads/drops/S-3.6M2-200909170100/eclipse-news-M2.html" target="_blank">http://download.eclipse.org/eclipse/downloads/drops/S-3.6M2-200909170100/eclipse-news-M2.html</a>
    </p><p>
    Take a swig of grog while downloading yer bundles from the ol' repo
    <a style="color: #7799bb;" href="http://download.eclipse.org/eclipse/updates/3.6milestones" target="_blank">http://download.eclipse.org/eclipse/updates/3.6milestones</a>
    </p><p>
    Steer toward Eclipse
    <a style="color: #7799bb;" href="http://download.eclipse.org/eclipse/downloads/drops/S-3.6M2-200909170100/index.php" target="_blank">http://download.eclipse.org/eclipse/downloads/drops/S-3.6M2-200909170100/index.php</a>
    </p><p>
    No dubloons needed to download Equinox
    <a style="color: #7799bb;" href="http://download.eclipse.org/equinox/drops/S-3.6M2-200909170100/index.php" target="_blank">http://download.eclipse.org/equinox/drops/S-3.6M2-200909170100/index.php</a>
    </p><p>
    Yarrr!
    </p><p>
    <span style="color: #888888;">Kim</span>
    </p>
</blockquote>

<p>Enjoy!</p>