*{META
title: 'JRubyConf Announced'
summary: The JRuby team shares an exciting announcement about a conference dedicated to JRuby.
tags: JRuby,Conferences
category: journal
date: 9/14/2009 18:29
legacyId: 180
META}*
#{image src:'jruby/logo.png', align:'right'/}

<p>If you are a fan of JRuby, then this is probably not news to you, but this weekend <a href="http://www.jrubyconf.com">JRubyConf</a> 2009 (the first JRuby-centric conference) was <a href="http://blog.headius.com/2009/09/announcing-jrubyconf-2009.html">announced by the JRuby folks</a>.</p>
<p>This is exciting to me for two reasons: 1. It further helps validate JRuby (both as a language alternative on the JVM and as an implementation alternative for Ruby), and 2. The attendee registration filled up frighteningly fast, which leads me to believe there is an intense interest for JRuby in the market right now.</p>

<p>Go JRuby!</p>