{% capture src %}{{ src | prepend_if: '/' }}{% endcapture %}
{% if align == null %}
	{% assign align = 'alignnone' %}
{% elsif align == 'right' %}
	{% assign align = 'pull-right' %}
{% elsif align == 'left' %}
	{% assign align = 'pull-left' %}
{% endif %}

{% if align == 'alignnone' %}
<div class="imgblock">
<div class="noalignouter">
	<div class="noaligninner">
{% endif %}
<div class="img thumbnail {{align}}">
	<img src="/images/articles{{src}}" />
	{% if caption %}
		<div class="well well-small">{{caption}}</div>
	{% endif %}
</div>
{% if align == 'alignnone' %}
</div>
</div>
<div class="clearfix"></div>
</div>
{% endif %}

{% assign caption = nil %}
{% assign align = nil %}
{% assign src = nil %}
{% assign firstchar = nil %}