<div class="post-details">
	Categories:
		{% if item.categories %}
			{% for cat in item.categories %}
				<a href="/category/{{cat}}"><span class="label">{{cat}}</span></a>
			{% endfor %}
		{% else %}
			None
		{% endif %}
	|
	Tags:
		{% if item.tags %}
			{% for tag in item.tags %}
				<a href="/tag/{{tag}}"><span class="label">{{tag}}</span></a>
			{% endfor %}
		{% else %}
			None
		{% endif %}
	|
	<a href="http://realjenius.com{{item.url}}"><span class="label label-info">Permalink</span></a>
</div>

{% assign item = nil %}