*{META
title: What is RealJenius.com?
summary: A short summary of what RealJenius.com is.
META}*

<p>Realjenius.com is the only constant channel in my universe. I have poked my head up at a number of tech 
sites on the web over the years, inevitably returning to some form of recluse shortly there-after. I've written 
innumerable tech articles, made friends, and made enemies. I've said some things people have considered smart, and I've 
said a lot more things that drudged the trolls out from under their bridges, quick to brandish their mighty 
clubs of righteousness.</p>

<p>Throughout it all, some form of my personal website has survived, even if only in a comatose, *beep beep* heart monitor 
sort of way. And now you have shown up, and are poking around.</p>

<p>I'm R.J. Lorimer, and<strong> I don't know why you are here</strong>.</p>


#{image align:'left',caption:'Get off my lawn!',src:'headshot.png'/}

<p>Being just one of so many on the vast 'tubes can make a person question the purpose of even publishing these silly meandering thoughts. After all... what makes me so special?</p>
<p>Honestly speaking, probably nothing. I'm just one of those people who (apparently) likes to hear himself talk and likes to ensure others do too.</p>
<p>I started doing this software development thing ten years ago, and over that decade I have learned that us developers are a quirky, eccentric bunch that generally have a remarkable ego, and a penchant for perfectionism (all traits I see and know exist in myself).</p>
<p>But, we also have a strong sense of community, and strive for a sense of achievement. From that curious desire, a remarkable movement has occurred over the past several years. It has been fascinating to watch this industry turn itself upside-down, and continually squash the critics who speak against open and free development.</p>
<p>That, I think in part, is why I am here - to contribute to that movement, and get my own delicious slice of achievement. Therefore, I can only assume you're here to imbue yourself with some of my sagely advice, and benefit from my attempt at glory. And for that, I wish you luck.</p>

<h2>But Who Am I?</h2>
<p>I've always enjoyed sharing knowledge in a search-able, index-able, and socially-consumable format - it's something that I learned about myself early on, and I'd like to believe that I have gotten better at it with time, although in reality I think I've just become more aware of how bad at it I actually am.</p>

<p>Either way, I intend to share whatever I knowledge I can here regarding my geeky endeavors. After all, I am one of the lucky few in this world who gets to do what he loves to do, and make a living at it. For me, that means that I program for a living, and I also program for a hobby. I used to be concerned about how geeky that may have sounded, but any more it is too much of a fabric of who I am for me to turn it aside or downplay the importance of it in my life.</p>

<p>Over the years my personal programming niche evolved in a foundation of Java and the web. Both technologies have obviously made a footprint for themselves in the modern software development world.</p>

<p>I have since found myself tinkering with other languages and platforms, but like so many millions other programmers, schemers, and capitalists out there, I am drawn to the power and reach with which the web teases, and return again and again to its packet-ey grasp. As for Java, I find myself using the language less and less for anything I do personally. The platform, on the other hand, is still my weapon of choice in many cases - languages like Scala and JRuby give me the productivity happys without having to give up my beloved JVM.</p>

<h2>What Will You Find Here?</h2>
<p>I just spent 600 words talking about how much of a geek I am, so it's no surprise that there is going to be a revolving door of techy-goodness oozing from the e-pages of my interweb. The site is organized into two primary content buckets: <a href="/category/journal">the Journal</a> and <a href="/category/article">the Articles</a>. For those of you up on the savvy internet lingo, the journal is also referred to as a "blog", and as such will likely be full of stream-of-conciousness posts that keep you up-to-date with me, without having to worry about pesky details like grammar, punctuation, and complete sentences. Okay, so it's not twitter bad, but close.</p>
<p>On the other hand, the articles section will be where I spit polish a little more. Don't get me wrong, I'm not Vonnegut, but at least the content there will attempt to follow a cohesive structure (we'll see how long I can keep that up!) Most importantly, the content will have a distinct point aside from delivering plain news; something like a review, in-depth analysis, or a technical tutorial.</p>
<p>I should also note that I do have other hobbies and interests aside from just programming: music, movies, cars, and videogames to name a few. Every now and then those will show up on this site. I'll do my best to separate the non-technical content using tags.</p>

<h2>What is Expected of You?</h2>
<p>I have turned on commenting on this site - and therefore you are welcome (although certainly not required) to provide your input on the articles and content on this site. That being said, if you are going to provide input, don't expect it to get approved unless it's respectful, constructive, and free of spam!</p>