
body {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	line-height: 1.5em;
}

.navrow {
	background-color: #222;
}
.navbar {
	font-size: 18px;
	margin-bottom: 0;
	border-radius: 0;
}
a.navbar-brand {
	font-size: 20px;
	color: #fff;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.subbrand {
	display: block;
	font-family: 'Roboto Slab', serif;
	font-size: .5em;
	font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Slab', serif;	
}
p {
	line-height: 1.6em;
	font-family: 'Roboto Slab', serif;
}

blockquote p {
	font-size: 16px;
	color: #666;
}

#content {
	padding-bottom: 30px;
}

#content li {
	padding-bottom: 5px;
	line-height: 1.5em;
}

#content div.thumbnail {
	margin-left: 15px;
	margin-right: 15px;
}

.more a {
	display: block;
	font-size: 22px;
	font-weight: bold;
	color: #357ebd;
	height: 100%;
	text-align: center;
}

.more a:hover {
	color: #69d2e7;
}

.entry-title a {
	color: #F38630;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.entry-title a:hover {
	color: #fa6900;
}


.post-date {
	padding: 0 5px 5px 5px;
	color: #aaa;
	font-weight: bold;
	font-size: 15px;
}

.post-details {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	text-align: right;
}
.post-details a:hover {
	text-decoration: none;
}

.highlight pre {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-size: 14px;
	color: #e5e5e5;
}

.highlight pre code {
	color: inherit;
}

hr.list_separator {
	height: 1px;
	background-color: #e5e5e5;
	border: 0;
}

#paging {
	height: 35px;
}

code, pre {
	font-family: 'Source Code Pro', 'courier new';
	font-size: 1em;
}

.rjfooter {
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
	border-top: 1px solid #d5d5d5;
	background-color: #f5f5f5;
}

.rjfooter .disclaimer {
	color: #666;
}

.sitemap {
	background-color: #fff;
	width: 100%;
	display: none;
	position: relative;
	margin: 0 15px 15px;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-top: 0;
	border-bottom: 3px solid #dddddd;
}
.sitemap .sitemap-section a {
	font-size: 14px;
	font-weight: bold;
}

.sitemap .sitemap-section .row {
	padding-left: 10px;
}

.heroentry {
	height: 250px;
}

.heroline {
	background-color: #5e91bd;
	border-bottom: 3px solid #357ebd;
	/*border-top: 3px solid #357ebd;*/
}

.heroline .homeheader {
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.heroline h3.homeheader small {
	color: #eee;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.heroline .herocontainer {
	background-color: #fff;	
	border-radius: 6px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.noalignouter {
	float: right;
	right: 50%;
	position: relative;
}
.noaligninner {
	float: right;
	right: -50%;
	position: relative;
}
.alignnone {
	float: none;
	margin: 20px auto;
}

.img {
	border: 1px solid #999;
}

.img .well {
	padding-top: 10px;
	margin-bottom: 0;	
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}