*{META
title: 'Danny Carey at Drum Explorers Clinic'
summary: 'Danny Carey comes to Kansas City and shares his rare talent with an auditorium of drum geeks.'
tags: Personal,Drumming,Music,Daney Carey, Tool
category: journal
date: 10/02/2009 15:44
legacyId: 332
META}*

#{image align:'right',src:'misc/d_carey.png'/}
<p>As most of my close friends know, while having only recently picked up any form of drum stick, I'm passionate about drumming (though I'm personally still a beginner in my ability to play).
    One of my favorite modern drummers is <a href="http://en.wikipedia.org/wiki/Danny_Carey">Danny Carey</a>; I'm sure in no small part due to Tool being one of my personal favorite bands. 
    Even if I attempt to exclude my bias, however, I can see that Carey is a well-admired drummer, generally somewhere in the top 15 
    <a href="http://www.google.com/search?rlz=1C1GGLS_enUS344US344&amp;sourceid=chrome&amp;ie=UTF-8&amp;q=top+100+drummers">of top-100 drummer lists of all time</a>; sharing space with the 
    likes of <a href="http://en.wikipedia.org/wiki/Neil_Peart">Neil Peart</a>, <a href="http://en.wikipedia.org/wiki/John_Bonham">John Bonham</a>, 
    <a href="http://en.wikipedia.org/wiki/Keith_Moon">Keith Moon</a> and <a href="http://en.wikipedia.org/wiki/Mike_Portnoy">Mike Portnoy</a>.</p>
<p>Danny Carey has a rare technical accuracy in his playing, but he is able to combine it with his singular artistic flair to create remarkable tapestries of sound. Tool songs are initially accessible to listeners in search of a driving rock sound, but continue to breathe and grow as the complex rhythms unravel over time.</p>
<p>I'm always amazed to pick up an album like Undertow (from 1993) and to this day still hear new  poly-rhythms in the beat and other minor adjustments for the first time. And it only takes listening to a song like Jambi, where the guitar, vocals, and drums are all on entirely different time signatures to be able to understand how capable he really is.</p>
<p>Recently, Danny Carey came into Kansas City for the 25th anniversary of KC Drum Explorers. He gave some tutorials, played along to some particularly drum-intensive Tool songs, and also had some great company: <a href="http://en.wikipedia.org/wiki/Terry_Bozzio">Terry Bozzio</a> (another brilliant drumer) and <a href="http://en.wikipedia.org/wiki/Aloke_Dutta">Aloke Dutta</a> (a wizard of the <a href="http://en.wikipedia.org/wiki/Tabla">tabla</a>, and mentor and teacher to both Carey and Bozzio).</p>
<p>I have no idea how I missed hearing of this event; it was mere minutes from my house (in a high-school auditorium in suburban Overland Park of all places), but thankfully YouTube has come to the rescue to make me feel like something other than a total failure.</p>
<p>I've dug up some videos of the event, and included them here (thank you <a href="http://www.youtube.com/user/evo462">evo462</a>, <a href="http://www.youtube.com/user/jdub816">jdub816</a>, and <a href="http://www.youtube.com/user/andrewl85">andrewl85</a>). Enjoy!</p>
<h3>Rosetta Stoned:</h3>

#{youtube 'r34eX66QREQ'/}

<h3>Jambi:</h3>

#{youtube 'KcEW1no38KU'/}

<h3>The Pot:</h3>

#{youtube 'BWzr9prHkvg'/}

<h3>Aenima (Partial):</h3>

#{youtube 'lNL5B4eQ8Bk'/}

<h3>Carey, Bozzio, and Dutta Together - Part 1:</h3>

#{youtube 'ffdYxFAP8uM'/}

<h3>Part 2:</h3>

#{youtube 'MLLtqL4gwpg'/}
