*{META
title: 'Follow-Up: More on Quicken+Mint'
summary: 'Press from the Intuit folks regarding their recent Mint.com acquisition.'
tags: Finances,Mint,Quicken
category: journal
date: 9/20/2009 22:05
legacyId: 245
META}*

#{image src:'misc/quicken_mint.png',align:'right'/}

<p>A couple weeks ago, I #{post 'mint_and_quicken'}blogged about the recent acquisition#{/post} of <a href="http://www.mint.com">Mint.com</a> by <a href="http://www.intuit.com">Intuit</a> (the Quicken folks).</p>
<p>This weekend, Scott Cook (founder of Intuit) posted <a href="http://www.mint.com/blog/updates/intuit-not-out-to-change-mint-says-founder/">on the Mint.com site</a> about the recent acquisition. He covered a lot of the topics where I showed concern.</p>

<blockquote>
    <p>As you know, Intuit has entered into an agreement to buy Mint. Over the past few days, I’ve read your posts and comments. I understand your concerns about what will happen to Mint in the future.</p>

    <p>So let me set the record straight: Mint.com isn’t changing. It is remaining free. Following the close of the acquisition, Aaron Patzer and the Mint team will remain in charge of Mint.com to continue both its principles and its fast pace of progress.</p>

    <p>We’re not planning to change Mint.com and make it like Quicken. Quite the opposite. Aaron and team will also run Quicken and Quicken.com to ensure this doesn’t happen. Plus they will benefit from this larger pool of resources. I want Mint thinking to infuse Quicken.</p>

    <p>On a personal level, Mint’s leaders have earned the chance to re-invent all of personal finance on the broadest canvas possible. I will give them that chance. Will you?</p>
</blockquote>

<p>I appreciate what he is trying to do here. He's trying to respond to some of the scare posts (like my own) and ensure people that this merger is not the end of a good product.</p>
<p>However, the proof is in the pudding. The reality is that the competition is still gone, and time and again when corporations with competing products merge, the two resulting products are consolidated into an inferior offering (not intentionally of course).</p>
<p>So will I give them a chance? Absolutely; I have no reason to stop investing my time in an excellent free product. But either way, I still say the burden of proof will be on them. What kind of pudding are they going to make?</p>


 