---
layout: main
---
{% if page.grouptype == 'tag' %}
<div class="page-header">
	<h2>Tag: '{{page.tag}}'</h2>
</div>
{% elsif page.grouptype == 'category' %}
<div class="page-header">
	<h2>Category: '{{page.category}}'</h2>
</div>
{% endif %}

{% for post in paginator.posts %}
	{% include post_row.html %}
{% endfor %}
	
{% if page.grouptype == 'tag' %}
	{% capture paging_root %}/tag/{{page.tag}}/{% endcapture %}
{% elsif page.grouptype == 'category' %}
	{% capture paging_root %}/category/{{page.category}}/{% endcapture %}
{% else %}
	{% capture paging_root %}/{% endcapture %}
{% endif %}
{% include paging_buttons.html %}