<!DOCTYPE html>

<html lang="en">
    <head>
        <title>RealJenius.com - {{page.title}}</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="RealJenius.com - Hold my beer; watch this." />
    	<meta name="author" content="R.J. Lorimer" />
		<meta charset="UTF-8" />


    	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    	<!--[if lt IE 9]>
      		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

		<link rel="shortcut icon" type="image/png" href="/favicon.gif"/>
		
		<link href="/stylesheets/bootstrap-sh.min.css" rel="stylesheet" />
		<link href="/stylesheets/syntax-dark.css" rel="stylesheet" />
		<link href="/stylesheets/main.css" rel="stylesheet"/>
		<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet"/>
		
        <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Lora|Cinzel"
        	rel="stylesheet" type="text/css"/>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27375996-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
    	<div class="container">
			<div class="row">
				<div class="span3" id="nav">
					<div class="siteinfo">
						<a class="brand" href="/">
							<span class="title_letter">R</span>eal<span class="title_letter">J</span>enius.com</a>
						<span class="subbrand">Hold My Beer; Watch This</span>
						<ul class="nav nav-pills nav-stacked">
	    					<li><a href="/about.html">About Me</a></li>
	                        <li><a href="/contact.html">Contact Me</a></li>
	          			</ul>
					</div>
					<aside>
						<h4>Elsewhere</h4>
						
						<ul class="nav nav-pills nav-stacked">
							<li>
								<a href="http://www.twitter.com/realjenius">Twitter</a>
							</li>
							<li>
								<a href="http://www.linkedin.com/in/rjlorimer">LinkedIn</a>
							</li>
							<li>
								<a href="https://github.com/realjenius">GitHub</a>
							</li>
							<li>
								<a href="http://live.xbox.com/en-US/profile/profile.aspx?pp=0&GamerTag=Real+Jenius">XBox Live</a>
							</li>
							<li>
								<a href="http://beeradvocate.com/user/profile/realjenius">BeerAdvocate</a>
							</li>
						</ul>
					</aside>
					<aside>
						<h4>Feeds</h4>
						<ul class="nav nav-pills nav-stacked">
							<li>
								<a href="/atom.xml">Everything</a>
							</li>
							<li>
								<a href="/category/journal/atom.xml">Journal</a>
							</li>
							<li>
								<a href="/category/article/atom.xml">Articles</a>
							</li>
							<li>
								<a href="/tag/java/atom.xml">Java</a>
							</li>
							<li>
								<a href="/tag/ruby/atom.xml">Ruby</a>
							</li>
							<li>
								<a href="/tag/linux/atom.xml">Linux</a>
							</li>
						</ul>
					</aside>
				</div>
				
				<div class="span9" id="content">
					{{content}}
				</div>

			</div>

		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="span6">
						<p>&copy 2009-2012 - R.J. Lorimer<br/>
						<span class="disclaimer"><small>
							<strong>Disclaimer:</strong> This is my personal site. What I say here is mine and mine alone. 
							My opinions have no bearing on my employer, and likewise, my employer has no claim over 
							the ownership of the content on this site.
						</small></span>
					</p>
					</div>
					<div class="span6">
					<p class="pull-right site-details"><small>Powered by <a href="http://jekyllrb.com">Jekyll</a><br/>Hosted by <a href="http://mediatemple.net">Media Temple</a> (<a href="http://twitter.com/mediatemple">@MediaTemple</a>)<br/>Site source code available on <a href="https://github.com/realjenius/realjenius.com">Github</a>.</small></p>
					</div>
				</div>
			</div>					
		</footer>
    </body>
</html>
