---
layout: main
---
<article class="post">
	<header class="single-entry-header">
		<h1 class="entry-title"><a href="{{site.baseurl}}/{{page.slug}}">{{page.title}}</a></h1>
		<p>
			<span class="entry-date">{{page.date | date: '%m/%d/%Y'}}</span>
			<span class="entry-author">by R.J.</span>
		</p>
	</header>
	<div class="single-entry-content">
		{{ content }}
	</div>
	
	<footer class="single-entry-meta">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_shortname = 'realjenius';
		    var disqus_url = 'http://realjenius.com{{page.url}}';
		    {% if page.legacyId %}
		    var disqus_identifier = '{{page.legacyId}} http://realjenius.com/?p={{page.legacyId}}'
		    {% else %}
		    var disqus_identifier = '{{page.url}}'
		    {% endif %}
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		<p>
			Categories:
				{% if page.categories %}
					{% for cat in page.categories %}
						<a href="/category/{{cat}}">{{cat}}</a>
					{% endfor %}
				{% else %}
					<i>None</i>
				{% endif %}
			|
			Tags:
				{% if page.tags %}
					{% for tag in page.tags %}
						<a href="/tag/{{tag}}">{{tag}}</a>
					{% endfor %}
				{% else %}
					<i>None</i>
				{% endif %}
			|
			<a href="http://realjenius.com/{{post.url}}">Permalink</a>  
		</p>
		
</article>

<div class="clear"></div>