---
layout: main
---
<article class="post">
	<div class="page-header">
		<h2 class="entry-title"><a href="{{page.url}}">{{page.title}}</a>
			<small>
				<span class="entry-date">{{page.date | date: '%m/%d/%Y'}}</span>
				<span class="entry-author">by R.J.</span>
			</small>
		</h2>
	</div>

	<div class="article-body">
		{{ content }}
	</div>

	<footer>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_shortname = 'realjenius';
		    var disqus_url = 'http://realjenius.com{{page.url | trim_last }}';
		    {% if page.legacyId %}
		    var disqus_identifier = '{{page.legacyId}} http://www.realjenius.com/?p={{page.legacyId}}';
		    {% else %}
		    var disqus_identifier = '{{page.url | trim_last}}';
		    {% endif %}
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		
		{% assign item = page %}
		{% include post_details.html %}
	</footer>
</article>