*{META
title: 'Official Facebook App for Android'
summary: 'Facebook delivers a native Android app, giving us all another channel for our sad social lives.'
tags: Android,Facebook,Tech
category: journal
date: 9/8/2009 19:00
legacyId: 69
META}*

#{image align:'right',src:'misc/facebook.jpg'/}

<p>The official application for Facebook is now available on the Android Market. While I'm sure that it has it's unpleasant corners, my first experience with it is that it's a vast improvement over the alternatives, which by my count includes web access, and the few existing 3rd party apps that adapt the iPhone web interface for the Android platform.</p>
<p>The facebook app is a "real" android application (it's not a wrapper around a web panel), and for that reason alone the interface feels more responsive and natural than some of the others. There are a number of nice features included:</p>
<ul>
    <li>Rolling notification updates with like/dislike, comments, and user avatars</li>
    <li>Configuration for what notifications you would like to receive, how often, and what kind of notification you'd like from the phone (vibration, ring tone, light blinking, etc).</li>
    <li>Home screen widget showing the latest updates and allowing you to post updates directly from your android 'desktop'.</li>
    <li>Photo upload integration</li>
</ul>
<p>And of course, the best news is that the app is free (of both price, and at least as I've seen so far, of advertisements as well). Of course, that could always change as many of us recently learned with <a href="http://www.maximyudin.com/mysoftware/">Useful Switchers</a> (not that I am criticizing him for his choice to charge $0.99 for an excellent app).</p>